@(form: Form[de.paju.mensch.play.controllers.Application.Login])

<html>
    <head>
    	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	    <title>MADN</title>    
		<link rel="icon" href="@routes.Assets.at("images/favicon.jpg")" type="image/jpeg">
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("styles/main.css")'/>
	   	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("styles/gamegrid.css")'/>
	   	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("styles/bootstrap.min.css")'/>
		<link rel="icon" href='@routes.Assets.at("images/favicon.jpg")' type="image/jpeg"/>
		<script src='@routes.Assets.at("js/jquery-2.1.1.min.js")'></script>
		<script src='@routes.Assets.at("js/bootstrap.min.js")'></script>
		<script src='@routes.Assets.at("js/misc.js")'></script>
		<script src='@routes.Assets.at("js/socket.js")'></script>
    </head>
    <body>    
    	<div class="jumbotron header_style">
		  <h1>Mensch ärgere dich nicht!</h1>
		  <p>Log in and ärgere you!</p>
		</div>
		<div class="form_wrapper">  	
		  	@helper.form(de.paju.mensch.play.controllers.routes.Application.authenticate) {
				@if(form.hasGlobalErrors) {
				    <div class="alert alert-danger">@form.globalError.message</div>
				}	    
			   <div class="form-group">
			    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-10">
			      <input type="text" name="user" class="form-control" id="inputUsername" placeholder="Username">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
			    <div class="col-sm-10">
			      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default">Sign in</button>
			    </div>
			  </div>
			}
		  	<button type="button" class="btn btn-default navbar-btn" id="btnOpenID">Login with OpenID</button>
		  		
		</div>  	
			
			
		  	
        <script type="text/javascript">
			$('#btnOpenID').click(function () {
				document.location.href = "auth";
			});
		</script>
    </body>
</html>