@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	    <title>@title</title>  
	    
	    <script src='@routes.Assets.at("js/jquery-2.1.1.min.js")'></script>
		<script src='@routes.Assets.at("js/bootstrap.min.js")'></script>
		<script src='@routes.Assets.at("js/misc.js")'></script>
		<script src='@routes.Assets.at("js/socket.js")'></script>
		<script src='@routes.Assets.at("bower_components/webcomponentsjs/webcomponents.js")'></script>
		  
		<link rel="icon" href="@routes.Assets.at("images/favicon.jpg")" type="image/jpeg">
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("styles/main.css")'/>
	   	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("styles/gamegrid.css")'/>
	   	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("styles/bootstrap.min.css")'/>
		<link rel="icon" href='@routes.Assets.at("images/favicon.jpg")' type="image/jpeg"/>
		<script src='@routes.Assets.at("js/jquery-2.1.1.min.js")'></script>
		<script src='@routes.Assets.at("js/bootstrap.min.js")'></script>
		<script src='@routes.Assets.at("js/misc.js")'></script>
		<script src='@routes.Assets.at("js/socket.js")'></script>
		<script src='@routes.Assets.at("js/chatSocket.js")'></script>
		<link rel="import" href='@routes.Assets.at("templates/lobbyElements.html")'/>
		
    </head>
    <body>
    	<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">@title</a>
				</div>
					<ul class="nav navbar-nav">
	                <li id="buttonNew"><a href="#" onclick="startGame();">Neues Spiel</a></li>
	                <li id="buttonEnter"><a href="#" onclick="startGame();">Spiel Beitreten</a></li>
	                <li id="buttonLobby"><a href="#" onclick="refreshLobby();">Lobby aktualisieren</a></li>
	                <li id="buttonStart"><a href="#" onclick="begin();">Spiel starten</a></li>
	                <!-- li id="buttonDice"><a href="#" onclick="doDice();">Dice</a></li-->
	                <!--li id="buttonChooseFig"><a href="#" onclick="chooseFig();">Choose Figure</a></li-->
	                <li id="buttonExit"><a href="#" onclick="exit();">Exit</a></li>
	            </ul>
			</div>
		</nav>
		<div class="container" id="status"></div>
	    <div class="container" id="mainContainer">
		    <div class=”row”>
	       		<div class="container col-md-4" id="gameGrid"></div>
	       		<div class="container col-md-4" id="lobby"></div>
	       		<div class="container col-md-4" id="chat"></div>
	       	</div>
       	</div>
       	<div class="container" id="dice"></div>
    </body>
</html>
