.gameCell {
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
	border-radius: 50px;
}

.stackCell {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 50px;
}

.targetCell {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 50px;
}

.player0 {
	background-color: green;
}

.player1 {
	background-color: yellow;
}

.player2 {
	background-color: blue;
}

.player3 {
	background-color: red;
}

.empty {
	opacity: 0.5;
}

#mainContainer{
	width:550px;
	height:550px;
	position:relative;
}