#dice{
	font-size:24px;
	text-align:center;
	width:75px;
	height:75px;
	font-weight: bold;
}

#status{
	font-size:30px;
	text-align:center;
	font-weight: bold;
}

.header_style {
	text-align: center;
}



.googleSign_logo {
	content:url(../images/googleSign.png);
	cursor:pointer;
	zoom: 0.85;
}
