#dice{
	font-size:24px;
	text-align:center;
	width:75px;
	height:75px;
	font-weight: bold;
}

#chatButton{
	font-size:18px;
	text-align:center;
	width:14%;
	height:75px;
}

#chatInput{
	width:85%;
	height:75px;
	float: left;
}

#status{
	font-size:30px;
	text-align:center;
	font-weight: bold;
}

.header_style {
	text-align: center;
}



.googleSign_logo {
	content:url(../images/googleSign.png);
	cursor:pointer;
	zoom: 0.85;
}

#chat{
	max-height: 575px;
	overflow-y: auto;
}

#lobby{
	max-height: 575px;
	overflow-y: auto;
}

.player0Chat{
	border-style: solid;
	border-color: white green;
}

.player1Chat{
	border-style: solid;
	border-color: white yellow;
}

.player2Chat{
	border-style: solid;
	border-color: white blue;
}

.player3Chat{
	border-style: solid;
	border-color: white red;
}